 body {
    color: #434455;
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
   }
.web-color-iris {
    color: #4D5AE5;
    font-weight: 700;
}
.studio-color-bl {
    color: #2E2F42;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.studio {
    color: #434455;
    font-weight: 700;
    font: size 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.portfolio {
    color: #434455;
}
.contact {
    color: #434455;
}
button {
    background-color: #4D5AE5;
    color: #FFFFFF;
}