.web {
    color: #4D5AE5;
    width: 115px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
}

.studio {
    color: #2E2F42;
    width: 115px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
}

.address {
    color: #434455;
    width: 153px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
}

button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    width: 169px;
    height: 56px;
    padding: 16px 32px;
    gap: 10px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
}