body {
    font-family: 'Raleway', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
}

h1 {
    font-family: 'Raleway', sans-serif;
    color: #4D5AE5;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.studio-color-bl {
    font-family: 'Raleway', sans-serif;
    color: #4d5ae5;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.studio {
    color: #434455;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
}

.portfolio {
    color: #434455;
}

.contact {
    color: #434455;
}

button {
    background-color: #4D5AE5;
    color: #FFFFFF;
}